@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.text-color{
    color: rgb(14, 101, 216);
}
.flex{
    display: flex;
}
.top-bg{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.half-width{
    width: 50%;
    margin-top: 50px;
    padding-left: 6%;
    padding-right: 5%;
}
.btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(cyan, blue);
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 20px;
}
.img-style{
    width: 100%;
}
.experiances{
    margin-top: 150px;
}
.experiances h1{
    font-size: 30px;
}
.experiance-item{
    display: flex;
}
.box-effect{
    margin: 10px 50px;
    box-shadow: 10px 10px 30px gray;
}
#border-style1{
    border-left: 7px solid;
    border-image: linear-gradient(orange, orangered);
    border-image-slice: 1;
}
#border-style2{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    margin-top: 150px;
}